<% layout("layouts/boilerplate") %>
    <div class="container text-center">
        <div class="col">
            <h1 class="display-1 mt-3">Random Number Generator!</h1>

            <h2 class="display-2 " id="presentNum">
                <%= range[0] %>
            </h2>

            <button class="btn btn-success btn-lg mt-5" id="generate">Generate New</button>
        </div>
    </div>

    <script>
        function randomNumber(start, end) {
            if (start > end) {
                const range = start - end;
                return Math.floor(Math.random() * (range + 1)) + end;
            }
            else {
                const range = end - start;
                return Math.floor(Math.random() * (range + 1)) + start;
            }

        };

        const range1 = <%= range[0] %>;
        const range2 =  <%= range[1] %>;
        const generate = document.querySelector("#generate");
        const presentNum = document.querySelector("#presentNum")

        generate.addEventListener("click", () => {
            presentNum.textContent = randomNumber(range1, range2)
        });

    </script>