<% layout("layouts/boilerplate") %>
  
    <form action="/random" method="GET">
        <div class="container text-center">
            <div class="col-8 offset-2">
                <h1 class="display-1 mt-5">Enter Number Range!</h1>
                <div class="form-floating my-5">
                    <input type="number" class="form-control" id="range1" name="range1" placeholder="Enter your starting number">
                    <label for="range1">Enter your starting number</label>
                  </div>
                  <div class="form-floating my-5">
                    <input type="number" class="form-control" id="range2" name="range2" placeholder="Enter your last number">
                    <label for="range2">Enter your last number</label>
                  </div>
                  <button class="btn btn-success btn-lg">Generate</button>
            </div>
        </div>
    </form>